.header {
  font-family: "Exo 2", sans-serif;
  display: flex;
  align-items: center;
  background-color: #6523b6;
  padding: 0.3em 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

.header-main {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-main .header-left {
  display: flex;
  align-items: center;
}

.header-main .header-left .header-logo {
  position: relative;
}

.header-main .header-left .header-logo img {
  margin-bottom: -30px;
}

.header-main .header-left .nav {
  display: flex;
  list-style-type: none;
  margin-left: 0.5em;
}

.header-main .header-left .nav .nav-item a {
  padding: 0.75em 2em;
  border-radius: 2em;
  font-size: 0.9rem;
  font-weight: 700;
  color: white;
  margin-left: 1.25em;
  text-transform: uppercase;
}

.header-main .header-left .nav .nav-item a:hover {
  background-color: #4a1885;
  transition-duration: 250ms;
}

.header-main .header-left .nav .active a {
  background-color: #4a1885;
  position: relative;
}

.header-main .header-left .nav .active a .pokeball {
  position: absolute;
  color: #fb7823;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15%;
}

.header-main .header-right {
  display: flex;
  margin-left: auto;
}

.header-mobile {
  display: none;
  padding: 0.75em 0.5em;
}

.header-mobile .menubar {
  display: flex;
  align-items: center;
}

.header-mobile .menubar .menubar-wrapper {
  display: flex;
  align-items: center;
  background-color: #af4417;
  border: 1px solid #e45b04;
  border-radius: 50%;
  margin-right: 0.5em;
  padding: 0.5em;
  position: relative;
}

.header-mobile .menubar .menubar-wrapper:focus .nav-mobile {
  display: flex;
}

.header-mobile .menubar .menubar-wrapper .nav-mobile {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #6523b6;
  top: 50px;
  left: -25px;
  padding: 1em 2em;
  border-radius: 0 0 12px 0;
}

.header-mobile .menubar .menubar-wrapper .nav-mobile ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-mobile .menubar .menubar-wrapper .nav-mobile ul > * + * {
  margin-top: 1em;
}

.header-mobile .menubar .menubar-wrapper .nav-mobile ul .nav-item {
  display: flex;
  width: 100%;
}

.header-mobile .menubar .menubar-wrapper .nav-mobile ul .nav-item a {
  width: 100%;
  padding: 0.75em 2em;
  border-radius: 2em;
  font-size: 0.9rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  background: #4a1885;
}

.header-mobile .menubar .menubar-wrapper .nav-mobile ul .nav-item.active a {
  background-color: #af4417;
}

.header-mobile .menubar span {
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
}

.header-mobile .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-mobile .logo img {
  width: 130px;
}

@media screen and (max-width: 960px) {
  .header-main {
    display: none;
  }
  .header-mobile {
    display: flex;
  }
}
