$purple: #6523b6;
$dark-purple: #4a1885;
$dark-orange: #af4417;
$orange: #e45b04;
$bright-orange: #fb7823;
$pastel-orange: #ffb22e;
$yellow: #f9c921;
$black: #220a3d;
$shadow: #220a3d;
$dirty-white: #f0f3ff;
